<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件路径 -->
<!-- namespace:该mapper.xml映射文件的唯一标识 -->
<mapper namespace="org.ynu.mapper.DiseaseMapper">
    
    <!-- 增加疾病 -->
    <insert id="addDiseaseByDoctor" parameterType="Disease">
    	insert into disease.disease(diseaseName,symptom,latency,spread,doctorID) values(#{diseaseName},#{symptom},#{latency},#{spread},#{doctor.doctorID})
    </insert>
    
    <!-- 修改疾病 -->
    <update id="updateDiseaseByDoctor" parameterType="Disease">
    	update disease.disease set doctorID=#{doctor.doctorID},symptom=#{symptom},latency=#{latency},spread=#{spread} where diseaseName=#{diseaseName}
    </update>
    
    <!-- 查找疾病 -->
    <select id="queryDiseaseByName" resultType="Disease" parameterType="String">
    	select * from disease.disease where diseaseName=#{diseaseName}
    </select>
    
    
</mapper>