<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件路径 -->
<!-- namespace:该mapper.xml映射文件的唯一标识 -->
<mapper namespace="org.ynu.mapper.PatientMapper">
    
    <!-- 增加病人 -->
    <insert id="addPatient" parameterType="Patient">
    	insert into disease.patient(name,number,gender,age,hospital,province,city) values(#{name},#{number},#{gender},#{age},#{hospital},#{province},#{city})
    </insert> 
    
    <!-- 增加病人 -->
    <insert id="addPatientNext">
    	insert into disease.doctor_patient values(#{doctor.doctorID},#{patient.patientID})
    </insert> 
    
    <!-- 增加病人 -->
    <insert id="addPatientFinal">
    	insert into disease.disease_patient(diseaseID,patientID) values(#{disease.diseaseID},#{patient.patientID})
    </insert>
    
    <!-- 为病人增加医生 -->
    <update id="updatePatientByAddDoctor" parameterType="DoctorAndPatient">
    	insert into disease.doctor_patient values(#{doctor.doctorID},#{patient.patientID})
    </update>
    
    <!-- 修改病人治愈情况 -->
    <update id="updatePatientCure" parameterType="DiseaseAndPatient">
        update disease.disease_patient set cure=#{cure} where patientID=#{patient.patientID} and diseaseID=#{disease.diseaseID}
    </update>
    
    <!-- 查找病人 -->
    <select id="queryPatient" resultType="Patient" parameterType="String">
        select * from disease.patient where name=#{name} and number=#{number}
    </select>
    
     <!-- 查找病人的医生 -->
    <select id="queryPatientDoctor" resultType="Doctor" parameterType="Patient">
        select * from disease.doctor_patient where patientID=#{patientID}
    </select>
    
    <!-- 查找某病的病人在某省内分布 -->
    <select id="queryPatientByDiseaseAndProvince" resultType="Patient">
        select name,number,gender,age from disease.patient where province=#{province} and patientID in 
        (select patientID from disease.disease_patient where diseaseID=#{disease.diseaseID} and cure=0)
    </select>
    
    <!-- 查找某病病人在某省的数量 -->
    <select id="queryPatientNumByProvince" resultType="int">
        select count(*) from disease.patient where province=#{province} and patientID in 
        (select patientID from disease.disease_patient where diseaseID=#{disease.diseaseID} and cure=0)
    </select>
    
    <!-- 查找某病所有病人数量 -->
    <select id="queryPatientNum" resultType="int" parameterType="int">
        select count(*) from disease.disease_patient where diseaseID=#{diseaseID} and cure=0
    </select>
    
 
    

    
    
</mapper>