<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件路径 -->
<!-- namespace:该mapper.xml映射文件的唯一标识 -->
<mapper namespace="org.ynu.mapper.UserMapper">
    
    <!-- 增加用户 -->
    <insert id="addUser" parameterType="User">
    	insert into disease.user(username,password,invalidnum) values(#{username},#{password},#{invalidNum})
    </insert>
    
    <!-- 根据名字删除用户 -->
    <delete id="deleteUserByUsername" parameterType="String">
    	delete from disease.user where username=#{username}
    </delete>
    
    <!-- 增加用户无效回答次数 -->
    <update id="updateUserByInvalidNum" parameterType="String">
    	update disease.user set invalidnum=invalidnum+1 where username=#{username}
    </update>
    
    <!-- 根据名字查用户 -->
    <select id="queryUserByUsername" resultType="User" parameterType="String">
        SELECT * FROM disease.user WHERE username=#{username}
    </select>
    
    <!-- 根据名字密码查用户 -->
    <select id="queryUserByUsernameAndPassword" resultType="User" parameterType="Login">
        SELECT * FROM disease.user WHERE username=#{username} and password=#{password}
    </select>
    
    <!-- 根据名字密码查用户 -->
    <select id="test" resultType="User">
        SELECT * FROM disease.user ORDER BY userID
    </select>

    
    
</mapper>